.button {
  border-radius: 12px;
  background-color: #dc2626 !important;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #b02020;
}

.button:active {
  transform: scale(0.98);
}
