.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  backdrop-filter: blur(4px);
}

.modalCard {
  background-color: #fff;
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  gap: 1rem;
  position: relative;
  animation: slide-up 0.3s;
}

.modalCloseBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #718ebf;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 575px) {
  .modalBackground {
    padding: 1rem;
  }

  .modalCard {
    padding: 3rem 1rem;
    border-radius: 16px;
  }
}
