.deleteTransactionBtn {
  font-size: 20px;
  border: none;
  background-color: transparent;
  align-self: flex-start;
}

.modal {
  display: flex;
  gap: 1rem;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.modalButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon {
  font-size: 1.25rem;
  margin: 0 1rem;
}

.debit {
  color: #fe5c73;
}
