.transactionItem td {
  padding: 0.5rem;
  border-bottom: 1px solid #e2e2e2;
  color: #505887;
  font-weight: 400;
  text-align: center;
}

.transactionItem:last-child td {
  border: none;
}

.transactionName div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.transactionItem .creditIcon {
  font-size: 30px;
  color: #16dbaa;
}

.transactionItem .debitIcon {
  font-size: 30px;
  color: #fe5c73;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttonsContainer button {
  border: none;
  background-color: transparent;
}

.buttonsContainer .icon {
  font-size: 1.25rem;
  margin: 0 1rem;
}

.editBtn {
  color: #2d60ff;
}

.transactionItem .debit {
  color: #fe5c73;
}

.transactionItem .credit {
  color: #16dbaa;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 575px) {
  .transactionItem {
    font-size: 0.85rem;
  }

  .transactionItem td {
    padding: 0.25rem;
  }

  .debitIcon,
  .creditIcon {
    display: none;
  }

  .transactionName div {
    gap: 0.25rem;
  }

  .buttonsContainer {
    width: auto;
  }

  .buttonsContainer .icon {
    margin: 0 0.5rem;
  }
}
