.navLinksList .active::before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2d60ff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
