.overviewChart {
  background-color: #fff;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 1rem;
  color: #718ebf;
}

.overviewChart p {
  margin: 0 2rem;
}

.overviewChart span {
  color: #333b69;
}

@media screen and (max-width: 575px) {
  .overviewChart {
    border-radius: 12px;
    padding: 0.75rem 0.25rem;
  }

  .overviewChart p {
    margin: 0 1rem;
  }
}
